<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Age Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating"> Name </ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating"> Birth Year </ion-label>
    <ion-input [(ngModel)]="birthYear"></ion-input>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hello</ion-card-subtitle>
      <ion-card-title>{{ name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Your birth year is: {{birthYear}}</p>
      <h1>
        age is:
        <span *ngIf="age"> {{age}} </span>
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="calcAge()"> Calculate Age </ion-button>
  <ion-button expand="block" (click)="reset()" color="danger">
    Reset
  </ion-button>
</ion-content>
